{% extends 'index.html' %}
{% load static %}

{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Nous vendons des repas savoureux</p>
						<h1>A propos de nous</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Pourquoi <span class="orange-text">Chapfood</span></h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<h3>Livraison à domicile</h3>
										<p>Au cœur de Bassam, notre restaurant est ravi de vous offrir une expérience culinaire exceptionnelle, directement dans le confort de votre foyer. Notre service de livraison a été conçu pour apporter une délicieuse variété de plats tout droit à votre porte, vous permettant de profiter de vos plats préférés sans quitter la chaleur de votre chez-vous.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3>Petits Prix</h3>
										<p>Chez Chapfood, nous croyons que tout le monde mérite de savourer une cuisine exquise, sans pour autant vider son portefeuille. C'est pourquoi nous sommes fiers de vous offrir une expérience culinaire de haute qualité à des prix qui ne vous feront pas sursauter.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<h3>Menu à la demande</h3>
										<p>Personnalisez votre commande selon vos préférences. Envie de plus d'épices, moins de sauce, ou une portion spéciale ? Nous nous adaptons à vos demandes.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<h3>Satisfaction Garantie</h3>
										<p>Votre satisfaction est notre priorité. Si vous n'êtes pas ravi de votre repas, faites-le nous savoir, et nous ferons tout en notre pouvoir pour vous satisfaire.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



{%endblock%}