<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
{{ form.media }}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Chapfood</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
	 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->

	<link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
	
	
</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
    <style>
        #sticky-logo {
            display: none;
        }
    
    </style>
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="{% url 'base:index' %}">
                                <img id="logo" src="{% static 'assets/img/chapfood.png'%}" alt="">
                                <img id="sticky-logo" src="{% static 'assets/img/logo2.png' %}" alt="Sticky Logo">
                            </a>
                        </div>
                        <!-- logo -->

                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item"><a href="{% url 'base:index' %}">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'base:index' %}">Static Home</a></li>
                                        <li><a href="{% url 'base:index' %}">Slider Home</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'base:about' %}">About</a></li>
                                <li><a href="{% url 'base:meal_list' %}">shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'base:index' %}">Home</a></li>
                                        
                                        <li><a href="{% url 'base:cart' %}">Mon panier</a></li>
                                        <li><a href="{% url 'base:checkout' %}">Ma commande</a></li>
                                        
                                        <li><a href="{% url 'base:meal_list' %}">Nos repas</a></li>
                                    </ul>
                                </li>

                                <li><a href="{% url 'base:contact' %}">Contact</a></li>
                                <li><a href="#">Connexion</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'accounts:signup' %}">S'enregistrer</a></li>
                                        <li><a href="{% url 'livreurs:depot-dossiers' %}">inscription livreur</a></li>
                                        {% if user.is_authenticated %}
                                            <li><a href="{% url 'accounts:logout' %}">Se déconnecter</a></li>
                                            <li><a href="{% url 'accounts:password_reset' %}">Réinitialiser son mot de passe</a></li>
                                        {% else %}
                                            <li><a href="{% url 'accounts:login' %}">Se connecter</a></li>
                                            <li><a href="{% url 'accounts:forget_password_reset' %}">Réinitialiser son mot de passe</a></li>
                                        {% endif %}
                                        
                                    </ul>
                                </li>
                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart position-relative d-inline-flex" href="{% url 'base:cart' %}">
                                        <i class="fas fa fa-shopping-cart fa-lg"></i>
                                        <span class="cart-basket d-flex align-items-center justify-content-center" id="totalPanier">
                                            {{quantite_panier}}
                                        </span>
                                        </a>
                                        <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            document.addEventListener("DOMContentLoaded", function() {
                const originalLogo = document.getElementById("logo");
                const stickyLogo = document.getElementById("sticky-logo");
        
                window.addEventListener("scroll", function() {
                    if (window.scrollY > 0) { // Vous pouvez ajuster cette valeur en fonction de la position de défilement où vous voulez changer le logo.
                        originalLogo.style.display = "none";
                        stickyLogo.style.display = "block";
                    } else {
                        originalLogo.style.display = "block";
                        stickyLogo.style.display = "none";
                    }
                });
            });
                
            const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
            const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification_type4/`;
            const socket = new WebSocket(wsEndpoint);
            
            // Écoute des messages entrants
        document.addEventListener('DOMContentLoaded', (event) => {
            socket.addEventListener("message", (event) => {
                const data = JSON.parse(event.data);
                if (data.type === "notification_type4") {
                    const itemCount = data.message;
                    // Utilise itemCount pour afficher la notification où tu le souhaites dans ta page web
                    // Par exemple :
            
                    console.log("total article panier : "+itemCount)
                    document.getElementById('totalPanier').innerHTML=itemCount;  // Affichage de l'icone du nombre d'
                }
            });
        });
            
    </script>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<form method="GET" action="{% url 'base:index' %}">
							<input type="text" name="q" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->



	{
        <!-- breadcrumb-section -->
        <div class="breadcrumb-section breadcrumb-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="breadcrumb-text">
                            <p>Voir les détails du produits</p>
                            <h1>Produits</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end breadcrumb section -->
    
        <!-- single product -->
        <div class="single-product mt-50 mb-150">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="single-product-img">
                            <img src="{{ meal.image.url|safe }}" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="single-product-content">
                            <h3 style="color: #051922;" id="name{{meal.id}}">{{ meal.name }}</h3>
                            <span style="color: #051922;">Par unité</span> <p class="single-product-pricing" id="price{{ meal.id }}" style="color: #051922;">{{meal.price}} cfa</p>
                            <p style="color: #051922;">{{meal.description}}.</p>
                            <div class="single-product-form">
                                <input type="number" value="{{ meal.quantity }}" min = "0" placeholder="" id="quantity-input-{{ meal.id }}"><br>
                                <a href="#" class="cart-btn ted" id ="add-to-cart-button-{{ meal.id }}"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                <p><strong>Categories: </strong>{{meal.category.name}}</p>
                                                    <script>
                                                        var newQuantity = 0;
                                                        // Écoutez l'événement de modification de la quantité
                                                        document.getElementById("add-to-cart-button-{{ meal.id }}").addEventListener("click", function (event) {
                                                        event.preventDefault();
                                                        newQuantity = document.getElementById("quantity-input-{{ meal.id }}").value;
                                                        console.log(newQuantity);
                                                        const updateURL = `{% url 'base:add_to_cart' meal.id 0 %}`.replace('0', newQuantity);
                                                        // Soumettez le formulaire lorsque la quantité est modifiée
                                                        console.log(updateURL);
                                                        fetch(updateURL)
                                                            .then(response => response.json())
                                                            .then(data => {
                                                                // Gérer la réponse du serveur (par exemple, mettre à jour l'affichage du panier)
                                                                
    
                                                            })
                                                            .catch(error => {
                                                                console.error('Erreur lors de l\'ajout au panier :', error);
                                                            });
                                                        });
                                                    </script>
                            </div>
                            <h4 style="color: #051922;">Share:</h4>
                            <ul class="product-share">
                                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end single product -->
    
        <!-- more products -->
        <div class="more-products mb-150">
            <div class="container">
                <div class="row">
                
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="section-title">	
                            <h3><span class="orange-text">Related</span> Products</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for meal in similar_meals %}
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="single-product.html"><img src="{{ meal.image.url|safe }}" alt=""></a>
                            </div>
                            <h3>{{ meal.name }}</h3>
                            <p class="product-price"><span>Par unité</span> {{ meal.price }} cfa</p>
                            <a href="#" class="cart-btn ted" id="add-to-cart-button-{{ meal.id }}"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    <script>
                    // JavaScript pour gérer les interactions avec le panier
                    // Par exemple, ajouter un produit au panier en utilisant Fetch API
    
                        document.getElementById('add-to-cart-button-{{ meal.id }}').addEventListener('click', function (event) {
                            event.preventDefault();
                            // Récupérer le produit à ajouter
                            const productID = {{meal.id}}; // ID du produit
                            const quantity = 1;
                            const updateURL = `{% url 'base:add_to_cart' meal.id 0 %}`;
                            // Effectuer une requête AJAX pour ajouter le produit au panier
                            fetch(updateURL)
                                .then(response => {
                                    // Gérer la réponse du serveur (par exemple, mettre à jour l'affichage du panier)
                                })
                                .catch(error => {
                                    console.error('Erreur lors de l\'ajout au panier :', error);
                                });
                        });
    
                    </script>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- end more products -->
    

 
	<!-- end logo carousel -->
{% include "footer.html" %}
	<!-- footer -->
	
	<!-- end copyright -->
	
	<!-- jquery -->
	
	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>
{% block js %}
	<script type='text/javascript'>
		console.log('juste pour tester');
		if(localStorage.getItem('panier') == null){
            var panier = {};
        }else{
            panier = JSON.parse(localStorage.getItem('panier'));
        }
		$(document).on('click', '.ted', function(){
            console.log('ajouter');
			var item_id = this.id.toString().substring(19);
            
			if(panier[item_id] != undefined){
                quantite = panier[item_id][0] +1 ;
                panier[item_id][0] = quantite;
                panier[item_id][2] += parseFloat(document.getElementById("price"+item_id).innerHTML);
            }else{
                quantite = 1;
                prix = parseFloat(document.getElementById("price"+item_id).innerHTML);
                nom =  document.getElementById("name"+item_id).innerHTML;
                panier[item_id] = [quantite, nom, prix ];
                
            }
            console.log(panier);
            localStorage.setItem('panier', JSON.stringify(panier));
			
			});
			
			
		</script>
{% endblock  %}
</html>