{% extends 'index.html' %}
{% load static %}
{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Frais et savoureux</p>
						<h1>Nos repas</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- product section -->
	<div class="product-section mt-50 mb-150" >
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">
						<ul>
							<li class="active" data-filter="*">All</li>
							{% for category in categories %}
							<li data-filter=".{{ category.name }}">{{ category.name }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="row product-lists">
                    {% for meal in meals %}
				<div class="col-lg-4 col-md-6 text-center {{ meal.category.name }}">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'base:meal_detail' meal.id %}"><img src="{{ meal.image.url }}" alt=""></a>
						</div>
						<a href="{% url 'base:meal_detail' meal.id %}"><h3 id="name{{ meal.id }}">{{ meal.name}}</h3></a>
						<span>Temps de cuisson : {{ meal.preparation_time}}</span> <p class="product-price" id="price{{ meal.id }}">{{ meal.price}}cfa</p><p class="product-price2" id="price-barrer{{ meal.id }}">{{ meal.second_price}}cfa</p>
                        
						<a href="#" class="cart-btn ted" id ="add-to-cart-button-{{ meal.id }}"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				    <script>
						// script.js
						// JavaScript pour gérer les interactions avec le panier
						// Par exemple, ajouter un produit au panier en utilisant Fetch API

						document.getElementById('add-to-cart-button-{{ meal.id }}').addEventListener('click', function (event) {
							event.preventDefault();
							// Récupérer le produit à ajouter
							const productID = {{meal.id}}; // ID du produit
							const quantity = 1;
							
							const updateURL = `{% url 'base:add_to_cart' meal.id 0 %}`;
						// Effectuer une requête AJAX pour ajouter le produit au p
							// Effectuer une requête AJAX pour ajouter le produit au panier
							fetch(updateURL)
								.then(response => {
									// Gérer la réponse du serveur (par exemple, mettre à jour l'affichage du panier)
								})
								.catch(error => {
									console.error('Erreur lors de l\'ajout au panier :', error);
								});
						});
						var prix_normale= document.getElementById("price{{ meal.id }}");
						var prix_barrer = document.getElementById("price-barrer{{ meal.id }}");
						console.log(prix_barrer.textContent.split("c")[0]);
						console.log(prix_normale.textContent.split("c")[0]);
						prix_barrer.style.display = 'none';
						var True= true, False = false;
						var is_promo = {{meal.is_promo}};
						console.log(is_promo);
						
						if(is_promo==true){
							console.log(is_promo);
							prix_barrer.style.display = "block";
							var nouveauPrixBarré = document.createElement("del"); // Crée un élément "del" pour barrer le texte
							
							prix_normale.style.textDecoration = "line-through"; // Ajoute le prix barré à côté du prix normal
							
							// Supprime l'élément "price-barrer{{ meal.id }}"
							//prix_barrer.parentNode.removeChild(prix_barrer);
						}
    				</script>
				    {% endfor %}
			</div>
		</div>
	</div>
	
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> de réduction
                                </span>
                            </div>
                        </div>
                    	<img src="{% static 'assets/img/a.jpg'%}" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Affaire</span> du mois</h3>
                    <h4>{{cheapest_meal.name}}</h4>
                    <div class="text">{{cheapest_meal.description}}</div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="{% url 'base:add_to_cart' cheapest_meal.id 0 %}" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
