{% extends 'index.html' %}

{% block content %}
<style>
.success-icon {
    color: green; /* Couleur de l'icône */
    font-size: 24px; /* Taille de l'icône */
}
</style>
		<div class="breadcrumb-section breadcrumb-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							<p>Frais et savoureux</p>
							<h1>Email changé </h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb section -->
		<!-- error section -->
		<div class="full-height-section error-section">
			<div class="full-height-tablecell">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="error-text">
								<i class="fas fa-check-circle success-icon"></i>
								<h1>Veuillez consulté votre adresse mail.</h1>
                                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Se connecter</a>
								<a href="{% url 'base:index' %}" class="boxed-btn">Retour à page d'acceuil</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
