{% load static %}
<style>
#sticky-logo {
    display: none;
}

</style>
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'base:index' %}">
								<img id="logo" src="{% static 'assets/img/chapfood.png'%}" alt="">
								<img id="sticky-logo" src="{% static 'assets/img/logo2.png' %}" alt="Sticky Logo">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'base:index' %}">Home</a>
									<ul class="sub-menu">
										<li><a href="{% url 'base:index' %}">Static Home</a></li>
										<li><a href="{% url 'base:index' %}">Slider Home</a></li>
									</ul>
								</li>
								<li><a href="{% url 'base:about' %}">About</a></li>
								<li><a href="{% url 'base:meal_list' %}">shop</a>
									<ul class="sub-menu">
										<li><a href="{% url 'base:index' %}">Home</a></li>
										
										<li><a href="{% url 'base:cart' %}">Mon panier</a></li>
										<li><a href="{% url 'base:checkout' %}">Ma commande</a></li>
										
										<li><a href="{% url 'base:meal_list' %}">Nos repas</a></li>
									</ul>
								</li>

								<li><a href="{% url 'base:contact' %}">Contact</a></li>
								<li><a href="#">Connexion</a>
									<ul class="sub-menu">
										<li><a href="{% url 'accounts:signup' %}">S'enregistrer</a></li>
										<li><a href="{% url 'livreurs:depot-dossiers' %}">inscription livreur</a></li>
										{% if user.is_authenticated %}
											<li><a href="{% url 'accounts:logout' %}">Se déconnecter</a></li>
											<li><a href="{% url 'accounts:password_reset' %}">Réinitialiser son mot de passe</a></li>
										{% else %}
											<li><a href="{% url 'accounts:login' %}">Se connecter</a></li>
											<li><a href="{% url 'accounts:forget_password_reset' %}">Réinitialiser son mot de passe</a></li>
										{% endif %}
										
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{% url 'base:cart' %}"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    document.addEventListener("DOMContentLoaded", function() {
        const originalLogo = document.getElementById("logo");
        const stickyLogo = document.getElementById("sticky-logo");

        window.addEventListener("scroll", function() {
            if (window.scrollY > 0) { // Vous pouvez ajuster cette valeur en fonction de la position de défilement où vous voulez changer le logo.
                originalLogo.style.display = "none";
                stickyLogo.style.display = "block";
            } else {
                originalLogo.style.display = "block";
                stickyLogo.style.display = "none";
            }
        });
    });
</script>
