	<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Frais et savoureux</p>
								<h1>Repas frais et chaud</h1>
								<div class="hero-btns">
									<a href="{% url 'base:meal_list' %}" class="boxed-btn">Fruit Collection</a>
									<a href="#" class="bordered-btn">Contacté nous</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Du Frais tout les jours</p>
								<h1>100% Bio</h1>
								<div class="hero-btns">
									<a href="{% url 'base:meal_list' %}" class="boxed-btn">Visit Shop</a>
									<a href="#" class="bordered-btn">Contacté nous</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Grosse reduction maintenant</p>
								<h1>Obtenir une remise pour decembre</h1>
								<div class="hero-btns">
									<a href="{% url 'base:meal_list' %}" class="boxed-btn">Visitez notre restaurant</a>
									<a href="contact.html" class="bordered-btn">Contacté nous</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->
{% include "features.html" %}