<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chapfood~Livraison</title>
  <!-- plugins:css -->
    
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

	 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
   <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body allow="autoplay">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="#">
            <img src="{% static 'images/logo.svg' %}" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="#">
            <img src="{% static 'images/logo-mini.svg' %}" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text">Bonjour, <span class="text-black fw-bold">{{request.user.username}}</span></h1>
            <h3 class="welcome-sub-text">Gerer vos livraison </h3>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
     
          <li class="nav-item d-none d-lg-block">
            <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
              <span class="input-group-addon input-group-prepend border-right">
                <span class="icon-calendar input-group-text calendar-icon"></span>
              </span>
              <input type="text" class="form-control">
            </div>
          </li>
          <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
              <i class="icon-mail icon-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
              <a class="dropdown-item py-3 border-bottom">
                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-alert m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">Application Error</h6>
                  <p class="fw-light small-text mb-0"> Just now </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-settings m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">Settings</h6>
                  <p class="fw-light small-text mb-0"> Private message </p>
                </div>
              </a>
              <a class="dropdown-item preview-item py-3">
                <div class="preview-thumbnail">
                  <i class="mdi mdi-airballoon m-auto text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">New user registration</h6>
                  <p class="fw-light small-text mb-0"> 2 days ago </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown"> 
            <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon-bell"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="countDropdown">
              <a class="dropdown-item py-3">
                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="{% static 'images/faces/face10.jpg' %}" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="{% static 'images/faces/face12.jpg' %}" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="{% static 'images/faces/face1.jpg' %}" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-lg-block user-dropdown">
            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="img-xs rounded-circle" src="{% static 'images/faces/face8.jpg' %}" alt="Profile image"> </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <img class="img-md rounded-circle" src="{% static 'images/faces/face8.jpg' %}" alt="Profile image">
                <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
              </div>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> FAQ</a>
              <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 fw-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary me-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary me-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 fw-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="{% static 'images/faces/face1.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face2.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face3.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face4.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face5.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face6.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item nav-category">UI Elements</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">UI Elements</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">Forms and Datas</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Form elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="#">Basic Elements</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">Charts</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">ChartJs</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Tables</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Basic table</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="menu-icon mdi mdi-layers-outline"></i>
              <span class="menu-title">Icons</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Mdi icons</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">pages</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#"> Login </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">help</li>
          <li class="nav-item">
            <a class="nav-link" href="http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
           
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">livraison disponible</h4>
                  <p class="card-description">
                    Add class <code>.table-hover</code>
                  </p>
                  <div class="table-responsive">
                      <table class="table">
                      <thead>
                        <tr>
                          
                          <th>montant</th>
                          <th>date de création</th>
                          <th>position</th>
                          <th>accepter</th>
                          <th>refuser</th>
                        </tr>
                      </thead>
                      <tbody id="orders-en-cours">
                      
                        
                       
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Carte livraison</h4>
                  <p class="card-description">
                  <button type="button" id="start-livraison" class="btn btn-primary btn-rounded btn-fw">start livraisons</button>
                    
                  </p>
                    
                    <div id="map" style="height:500px"></div>
                  
                </div>
              </div>
            </div>
            <script>
                    var userLat;
                    var userLng;
                    var map = L.map('map').setView([5.217667827913414,-3.7607097752205902], 13);
                      var deliveryMarker = L.marker([0, 0], { draggable: true }).addTo(map);
                      // Obtenez la géolocalisation de l'utilisateur
                      navigator.geolocation.getCurrentPosition(function(position) {
                        var userLat = position.coords.latitude;
                        var userLng = position.coords.longitude;
                        // Placez un marqueur pour indiquer la position de l'utilisateur
                        var userMarker = L.marker([userLat, userLng]).addTo(map);
                        userMarker.bindPopup("Votre position").openPopup();
                        map.setView([userLat, userLng], 13);  // Centrez la carte sur la position de l'utilisateur
                        
                          });
                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: 'OpenStreetMap'
                      }).addTo(map);
                       
                    const updateURL = `{% url 'livreurs:detail-livraison'%}`;
                    // Effectuer une requête AJAX pour confirmer la livraison
                    fetch(updateURL)
                      .then(response => response.json())
												.then(data => {
													console.log(data.address_list)
                          /*
                          var livraison_position=data.livraison_position.split(",")
                          latitude_de_la_destination = livraison_position[0]
                          longitude_de_la_destination = livraison_position[1]
                          var destinationMarker = L.marker([latitude_de_la_destination,longitude_de_la_destination]).addTo(map);
                          var ChapfoodMarker = L.marker([5.218594, -3.762943]).addTo(map);
                          destinationMarker.bindPopup("Adresse de livraison").openPopup();
                          ChapfoodMarker.bindPopup("Adresse de CHAPFOOD").openPopup();
                          var control = L.Routing.control({
                                  waypoints: [
                                      L.latLng(userLat, userLng),
                                      L.latLng(latitude_de_la_destination, longitude_de_la_destination)
                                  ],
                                  routeWhileDragging: true
                              }).addTo(map);
                          */
												})
                      .catch(error => {
                        console.error('Erreur lors de la confirmation du dossier :', error);
                      });
                                  
                                // JavaScript pour gérer les interactions avec le panier
            </script>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Livraison en cours</h4>
                  <p class="card-description">
                    Add class <code>.table-striped</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            client
                          </th>
                          <th>
                            contact
                          </th>
                          <th>
                            montant
                          </th>
                          <th>
                            position
                          </th>
                          <th>
                            terminer
                          </th>
                           <th>
                            annulee
                          </th>
                        </tr>
                      </thead>
                      
                      <tbody id="livraisons-en-cours">
                      
                        
                      </tbody>
                      
                    </table>
                  </div>
                </div>
              </div>
            </div>
      <script>
        var audio = new Audio("{% static 'notifications/notif.awav' %}");
        var orders = document.getElementById("orders-en-cours");
        // Fonction pour retirer l'ordre du localStorage
        function removeOrderLocally(orderId) {
            // Récupérez les commandes existantes du localStorage
            var storedOrders = localStorage.getItem('orders');

            if (storedOrders) {
                // Convertissez les commandes stockées en tableau JavaScript
                var ordersArray = JSON.parse(storedOrders);

                // Recherchez l'ordre à supprimer
                var indexToRemove = ordersArray.findIndex(order => order.id === orderId);

                if (indexToRemove !== -1) {
                    // Supprimez l'ordre du tableau
                    ordersArray.splice(indexToRemove, 1);

                    // Mettez à jour le localStorage avec le nouveau tableau d'ordres
                    localStorage.setItem('orders', JSON.stringify(ordersArray));
                }
            }
        }
          function storeOrderLocally(order) {
              // Récupérez les données stockées localement (s'il y en a déjà)
              var storedOrders = localStorage.getItem("orders");

              // Si aucune donnée n'est stockée localement, créez un tableau vide
              var ordersArray = storedOrders ? JSON.parse(storedOrders) : [];

              // Ajoutez la nouvelle commande au tableau
              ordersArray.push(order);

              // Stockez le tableau mis à jour localement
              localStorage.setItem("orders", JSON.stringify(ordersArray));
          }
            function addOrderToTable(order) {
              if(order.id >0){
                var orderRow = document.createElement("tr");
                orderRow.id = "order-row-" + order.id;

                // Ajoutez des cellules <td> avec les données de la commande
                var cellOrderTotal = document.createElement("td");
                cellOrderTotal.textContent = order.order_total;
                orderRow.appendChild(cellOrderTotal);

                var cellCreation = document.createElement("td");
                cellCreation.textContent = order.created_at;
                orderRow.appendChild(cellCreation);

                var cellPosition = document.createElement("td");
                cellPosition.textContent = order.delivery_address;
                orderRow.appendChild(cellPosition);

                var cellAccept = document.createElement("td");
                var acceptButton = document.createElement("button");
                acceptButton.type = "button";
                acceptButton.id = "valider-livraison-" + order.id;
                acceptButton.className = "btn btn-success btn-rounded btn-fw";
                acceptButton.textContent = "accepté";

                var confirmButton = document.createElement("button");
                confirmButton.type = "button";
                confirmButton.id = "confirmer-livraison-" + order.id;
                confirmButton.className = "btn btn-warning btn-rounded btn-fw";
                confirmButton.style.display = "none"; // Cachez le bouton initialement
                confirmButton.textContent = "confirmer";
                cellAccept.appendChild(confirmButton);
                cellAccept.appendChild(acceptButton);
                orderRow.appendChild(cellAccept);

                var cellRefuse = document.createElement("td");
                var refuseButton = document.createElement("button");
                refuseButton.type = "button";
                refuseButton.id = "refuser-livraison-" + order.id;
                refuseButton.className = "btn btn-danger btn-rounded btn-fw";
                refuseButton.textContent = "refusé";
                cellRefuse.appendChild(refuseButton);
                orderRow.appendChild(cellRefuse);

                orders.appendChild(orderRow);

                // Stockez les données localement
                
                refuseButton.addEventListener('click', function(event) {
                    event.preventDefault();
                    removeOrderLocally(order.id);
                    const row = this.closest('tr');
                    row.remove();
                });
                acceptButton.addEventListener('click', function(event) {
                    event.preventDefault();
                    this.style.display = 'none';
                    confirmButton.style.display = 'block';

                    // Code pour gérer l'acceptation de la commande
                });

                confirmButton.addEventListener('click', function(event) {
                    event.preventDefault();
                    var updateURL = `{% url 'livreurs:accepter-livraison' 0 %}`;
                    updateURL = updateURL.replace("0", order.id);

                    // Effectuer une requête AJAX pour confirmer la livraison
                    fetch(updateURL)
                        .then(response => {
                          removeOrderLocally(order.id);
                            const row = this.closest('tr');
                            var LivraisonPosition = order.delivery_address.split(",")
                            var LivraisonLat = LivraisonPosition[0];
                            var LivraisonLng = LivraisonPosition[1];
                            // Placez un marqueur pour indiquer la position de l'utilisateur
                            var livraisonMarker = L.marker([LivraisonLat, LivraisonLng]).addTo(map);
                            livraisonMarker.bindPopup(order.user.username).openPopup();
                            
                           

                            row.remove();
                            //console.log(response.data["livraison"])
                            // Gérer la réponse du serveur (par exemple, mettre à jour l'affichage du panier)
                        })
                        .catch(error => {
                            console.error('Erreur lors de la confirmation du dossier :', error);
                        });
                });
                
            }
            }
             const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
            const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification_type2/`;
            const socket = new WebSocket(wsEndpoint);
           
            var orders = document.getElementById("orders-en-cours")
          // New event listener to capture incoming messages
          socket.addEventListener("message", (event) => {
            const orderData = JSON.parse(event.data);
            const order = orderData.message;
             console.log("Received notification:", order); // Log the received message to the console
            console.log('Message received:', order.order_total);
            if (audio) {
            audio.play();
            }
            storeOrderLocally(order);
            addOrderToTable(order);
          });
        document.addEventListener("DOMContentLoaded", function () {
          var storedOrders = localStorage.getItem("orders");
          if (storedOrders) {
              var ordersArray = JSON.parse(storedOrders);

              // Ajoutez chaque commande au tableau
              ordersArray.forEach(function (order) {
                  addOrderToTable(order);
              });
          }
        });

      </script>

      <script>
        var audio = new Audio("{% static 'notifications/notif.awav' %}");
        var livraisons = document.getElementById("livraisons-en-cours");
        function removeLivraisonLocally(orderId) {
            // Récupérez les commandes existantes du localStorage
            var storedLivraisons = localStorage.getItem('livraisons');

            if (storedLivraisons) {
                // Convertissez les commandes stockées en tableau JavaScript
                var livraisonsArray = JSON.parse(storedLivraisons);

                // Recherchez l'ordre à supprimer
                var indexToRemove = livraisonsArray.findIndex(order => order.id === orderId);

                if (indexToRemove !== -1) {
                    // Supprimez l'ordre du tableau
                    livraisonsArray.splice(indexToRemove, 1);

                    // Mettez à jour le localStorage avec le nouveau tableau d'ordres
                    localStorage.setItem('livraisons', JSON.stringify(livraisonsArray));
                }
            }
        }
          function storeLivraisonLocally(order) {
              // Récupérez les données stockées localement (s'il y en a déjà)
              var storedLivraisons = localStorage.getItem("livraisons");

              // Si aucune donnée n'est stockée localement, créez un tableau vide
              var livraisonsArray = storedLivraisons ? JSON.parse(storedLivraisons) : [];

              // Ajoutez la nouvelle commande au tableau
              livraisonsArray.push(order);

              // Stockez le tableau mis à jour localement
              localStorage.setItem("livraisons", JSON.stringify(livraisonsArray));
          }
          function addLivraisonToTable(order) {
            if(order.id >0){
                var livraisonRow = document.createElement("tr");
                livraisonRow.id = "livraison-row-" + order.id;
                // Ajoutez des cellules <td> avec les données de la commande
           
                var cellClient = document.createElement("td");
                cellClient.textContent = order.user.username;
                livraisonRow.appendChild(cellClient);
                var cellContact = document.createElement("td");
                cellContact.textContent = order.user.phone_number;
                livraisonRow.appendChild(cellContact);
                var cellMontant = document.createElement("td");
                cellMontant.textContent = order.order_total;
                livraisonRow.appendChild(cellMontant);
                var cellPosition = document.createElement("td");
                cellPosition.textContent = order.delivery_address;
                livraisonRow.appendChild(cellPosition);
                
                var cellAccept = document.createElement("td");
                var acceptButton = document.createElement("button");
                acceptButton.type = "button";
                acceptButton.id = "start-livraison-" + order.id;
                acceptButton.className = "btn btn-success btn-rounded btn-fw";
                acceptButton.textContent = "accepté";
                cellAccept.appendChild(acceptButton);
                livraisonRow.appendChild(cellAccept);
                

                var cellRefuse = document.createElement("td");
                var refuseButton = document.createElement("button");
                refuseButton.type = "button";
                refuseButton.id = "annulee-livraison-" + order.id;
                refuseButton.className = "btn btn-danger btn-rounded btn-fw";
                refuseButton.textContent = "refusé";
                cellRefuse.appendChild(refuseButton)
                livraisonRow.appendChild(cellRefuse);
                livraisons.appendChild(livraisonRow);

                
            }
            refuseButton.addEventListener('click', function(event) {
                    event.preventDefault();
                     var updateURL = `{% url 'livreurs:annuler-livraison' 0 %}`;
                    updateURL = updateURL.replace("0",order.id)
                  // Effectuer une requête AJAX pour confirmer la livraison
                      fetch(updateURL)
                        .then(response => {
                          removeLivraisonLocally(order.id);
                          const row = this.closest('tr');
                          row.remove();
                          //console.log(response.data["livraison"])
                                                                                // Gérer la réponse du serveur (par exemple, mettre à jour l'affichage du panier)
                        })
                        .catch(error => {
                          console.error('Erreur lors de la confirmation du dossier :', error);
                        });
                
                
            
                    
                });
            acceptButton.addEventListener('click', function(event) {
                event.preventDefault();
              
                var updateURL = `{% url 'livreurs:start-livraison' 0 %}`;
                updateURL = updateURL.replace("0",order.id)
                  // Effectuer une requête AJAX pour confirmer la livraison
                  fetch(updateURL)
                    .then(response => {
                      removeLivraisonLocally(order.id);
                      const row = this.closest('tr');
                      row.remove();
                      //console.log(response.data["livraison"])
                                                                            // Gérer la réponse du serveur (par exemple, mettre à jour l'affichage du panier)
                    })
                    .catch(error => {
                      console.error('Erreur lors de la confirmation du dossier :', error);
                    });
            
            
            });
          }

          const websocketProtocol1 = window.location.protocol === "https:" ? "wss" : "ws";
            const wsEndpoint1 = `${websocketProtocol1}://${window.location.host}/ws/notification_type3/`;
            const socket1 = new WebSocket(wsEndpoint1);
            var orders = document.getElementById("orders-en-cours")
          // New event listener to capture incoming messages
          socket.addEventListener("message", (event) => {
            const orderData = JSON.parse(event.data);
            const order = orderData.message;
             console.log("Received notification:", order); // Log the received message to the console
            console.log('Message received:', order.order_total);
            if (audio) {
            audio.play();
            }
            storeLivraisonLocally(order);
            addLivraisonToTable(order);
          });
          document.addEventListener("DOMContentLoaded", function () {
          var storedLivraisons = localStorage.getItem("livraisons");
          if (storedLivraisons) {
              var livraisonsArray = JSON.parse(storedLivraisons);

              // Ajoutez chaque commande au tableau
              livraisonsArray.forEach(function (order) {
                  addLivraisonToTable(order);
              });
          }
        });
           
      </script>         
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>

  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
